body{
  background: linear-gradient(307.47deg, #45108A 9.23%, #3D065F 66.85%, #200554 112.51%);
  height: 100vh;
}
.container{
  position: static;
  width: 1242px;
  height: 437px;
margin: 200px 100px 100px 350px;
background: #3A065E;

border-radius: 8px;
display: flex;
border: 0.1px solid #3A065E;

}

.carousel .thumb {
  transition: border .15s ease-in;
  display: none;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
}
.abs{
   height: 200px;
   width: 250px;
}
.about{
  width: auto;
  color: #FFFFFF;
  margin: 16px 0px 0px 40px;
  font-family: Work Sans;
}
.head{
  
  width: 324px;
height: 42px;
left: 581px;
top: 49px;
font-weight: 500;
font-size: 36px;
line-height: 42px;
letter-spacing: -0.02em;
}
.para{
  width: 629px;
height: 270px;
left: 581px;
top: 121px;

font-family: Work Sans;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 150%;
/* or 27px */

letter-spacing: -0.02em;

color: #FFFFFF;
}
.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: '';
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
  color: #fff;
  display: none;
}