*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.home-container{
    position: absolute;
    width: 100%;
    background: linear-gradient(307.47deg, #45108A 9.23%, #3D065F 66.85%, #200554 112.51%);
    min-height: 100vh;
}