@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.gallery {
  position: relative;
  width: 368px;
  height: 460px;
  left: 0px;
  top: 0px;
  font-family: Work Sans;
  margin: 0px 40px;
  background: rgba(0, 0, 0, 0.27);
}

div.gallery img{
  width: 368px;
  height: 257px;
  left: 19px;
  top: 31px;
}

.desc {
  position: relative;
  left: 31px;
}

.one {
  position: relative;
  width: 184px;
  height: 42px;
  top: 16px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.same{
  display: flex;
}

.button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 126px;
  height: 60px;
  top: 32px;
  background: #7F5CFF;
  border-color:#7F5CFF;
  border-radius: 4px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.two {
  position: relative;
  width: 144px;
  height: 42px;
  left: 27px;
  top: 42px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(229, 229, 229, 0.54);
}


.three {
  position: relative;
  width: 176px;
  height: 21px;
  top: 44px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #7F5CFF;
}