@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 432px;
  font-family: "Work Sans", sans-serif;
  margin-top: 3rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: grab;
}

.card-media {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 229, 229, 0.02);
  width: 40%;
  height: 24rem;
}

.card-media img {
  width: 5.4375rem;
  height: 5.4375rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem;
  height: 24rem;
  background: #3a065e;
  position: relative;
  cursor: pointer;
}

.card-container .card-content h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.card-container .card-content p {
  line-height: 1.6rem;
}

.card-content .read-btn {
  display: none;
}

@media screen and (max-width: 1400px) {
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 1255px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 1120px) {
  .card {
    width: 100%;
  }
  .card-container .card-content h2 {
    margin-bottom: 0.3rem;
  }
  .card-content {
    padding: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .card {
    flex-direction: column;
    width: 100%;
    height: 500px;
  }
  .card-media {
    width: 100%;
    height: 40%;
    transition: all 0.5s ease;
  }
  .card-content {
    width: 100%;
    height: 60%;
    transition: all 0.5s ease;
  }
  .card-container .card-content p {
    line-height: 1.6em;
    transition: all 0.5s ease;
    height: 8em;
    scroll-behavior: smooth;
    overflow: hidden;
    padding-right: 3px;
  }
  .card-content {
    padding: 2rem;
  }
  .card-container .card-content h2 {
    margin-bottom: 2rem;
  }

  .card-content .read-btn {
    display: block;
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
    background: transparent;
    border: none;
    font-weight: 600;
    color: rgba(229, 229, 229, 0.9);
    line-height: 11.73px;
    cursor: pointer;
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
.card-container .card-content h2 {
    margin-bottom: 1rem;
  }
}