* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.speaker-card {
  display: flex;
  width: 90%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.speaker-card .image {
  width: 40%;
  height: 100%;
}

.speaker-card .image img {
  height: 100%;
  width: 100%;
}

.speaker-card .content {
  width: 60%;
  background: #3a065e;
  padding: 1.5rem;
  position: relative;
}

.speaker-card .content .speaker {
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

.speaker-card .content .speaker-details {
  margin-bottom: 3rem;
  line-height: 1.8rem;
}

.speaker-card .content .speaker-details p {
  color: rgba(255, 255, 255, 0.77);
}

.speaker-card .btn-para {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 20px;
  opacity: 1;
  transition: all 0.8s ease;
}

.speaker-card .date-time p {
  color: rgba(255, 255, 255, 0.52);
}

.speaker-card a {
  text-decoration: none;
}

@media screen and (min-width: 1220px) and (max-width: 2000px) {
  .speaker-card .image img {
    height: 100%;
    width: 100%;
    max-height: 400px;
  }
  .speaker-card .content {
    max-height: 400px;
  }
  .speaker-card .date-time {
    position: absolute;
    bottom: 20px;
  }
  .speaker-card .btn-para {
    bottom: 20px;
  }
}

@media screen and (max-width: 1380px) {
  .speaker-card {
    width: 96%;
  }
  .speaker-card .content .speaker-details {
    line-height: 1.5rem;
  }
  .speaker-card .content .speaker-details {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 880px) {
  .speaker-card .content .speaker-details {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .speaker-card {
    flex-direction: column;
    width: 80%;
    height: auto;
  }
  .speaker-card .image {
    width: 100%;
  }
  .speaker-card .image img {
    height: 100%;
    width: 100%;
  }
  .speaker-card .content {
    width: 100%;
    height: 100%;
  }
  .speaker-card .btn-para {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.9;
    max-height: 31px;
    max-width: 80px;
  }
}

.speaker-card .mobile-read-more {
  display: none;
}

@media screen and (max-width: 500px) { 
  .speaker-card{
    min-height: 540px;
    max-height: 540px;
  }
  .speaker-card .image{
    max-height: 200px;
    height: 200px;
    transition: all 0.8s ease;
  }
  .speaker-card .content .speaker-details p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    min-height: 120px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.8s ease;
    scroll-behavior: smooth;
  }
  .speaker-card .mobile-read-more {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 32px;
  }
  .speaker-card .content .speaker-details{
    max-height: 260px;
    transition: all 0.8s ease;
  }
  .speaker-card .mobile-read-more button{
    padding: 4px;
    border: none;
    background: black;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
  }
  .speaker-card.is-reading-more .content .speaker-details p{
    -webkit-line-clamp: 50;
    overflow: auto;
    transition: all 0.8s ease;
    max-height: 340px;
    height: 340px;
  } 
  .speaker-card .content .date-time{
    position: absolute;
    bottom: 20px;
  }
  .speaker-card.is-reading-more .image{
    height: 0%;
    transition: all 0.8s ease;
  }
  .speaker-card.is-reading-more .btn-para{
    opacity: 0;
  }
}

@media screen and (min-width: 1650px) {
  .speaker h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .speaker-card .content .speaker-details p {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
}