@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.workshops-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #e5e5e5;
}

.workshops-section .header h1 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.workshop-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  width: 80%;
  max-width: 80%;
  flex-wrap: wrap;
}

.workshop-cards > div {
  margin: 0px 25px;
  cursor: context-menu;
  min-width: 40%;
  margin-bottom: 30px;
}

/* .workshop-cards > div:nth-child(3) > div{
  text-align: center; 
}

.workshop-cards > div:nth-child(3) > div:nth-child(3){
  display: none;
} */

/* 
glow animation
*/

/* .glow{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px greenyellow, 0 0 5px greenyellow, 0 0 3px #e60073, 0 0 3px #e60073, 0 0 3px #e60073, 0 0 3px #e60073, 0 0 3px greenyellow;
  }
  to {
    text-shadow: 0 0 4px greenyellow, 0 0 5px greenyellow, 0 0 4px #7f5cff, 0 0 7px #7f5cff, 0 0 7px #7f5cff, 0 0 8px #7f5cff, 0 0 8px #7f5cff;
  }
} */

@media screen and (max-width:1536px) {
  .workshop-cards > div{
    max-width: 486px;
    min-height:232px ;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .workshop-cards > div {
    min-width: 50%;
  }
}

@media screen and (max-width: 780px) {
  .workshop-cards {
    flex-direction: column;
  }
  .workshop-cards > div {
    margin: 10px 0;
    min-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .workshop-cards {
    min-width: 100%;
  }
}

@media screen and (max-width:550px){
  .workshop-cards > div{
    max-width: 90%;
    min-width: 90%;
  }
   .workshop-cards > div > div:nth-child(2){
    max-height: 10px;
  }
  .workshop-cards > div > div:nth-child(2) p{
    max-height: 179px;
    overflow: auto;
  }
}

@media screen and (min-width: 1600px) {
  .workshops-section .header h1 {
      font-size: 3rem;
  }
}
