@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800&display=swap");

.root-landing {
  background: url(./background-landing.svg);
  /* background-size: contain; */
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding-top: 5rem;
  font-family: "work sans";
  padding-bottom: 2rem;
  height: 90vh;
  width: 100hw;
}
.top-landing h1 {
  font-weight: 700;
  font-size: 3.3rem;
  text-shadow: 1px 1px 15px #000;
  font-family: "work sans";
  text-align: center;
  padding-top: 0rem;
  letter-spacing: 0.15rem;
  color: #ffffff;
}
.top-landing button {
  margin-top: 3rem;
}
.top-landing {
  text-align: center;
}
.bottom-landing {
  text-align: center;
  margin-top: 9rem;
  color: #ffffff;
}
.bottom-landing p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.bottom-landing h3 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .root-landing {
    background-size: cover;
    height: 86vh;
  }
  .top-landing h1 {
    font-size: 2rem;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 350px) {
  .bottom-landing {
    text-align: center;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 1600px) {
  .top-landing h1 {
    font-size: 4rem;
  }
  .root-landing {
    padding-top: 9rem;
  }
  .bottom-landing {
    margin-top: 15rem;
  }
  .bottom-landing p {
    font-size: 2.5rem;
    margin-bottom: 0.9rem;
  }
  .bottom-landing h3 {
    font-size: 1.5rem;
  }
}
