@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.head{
text-align: center;
position: static;
height: 3.5rem;
top: 0rem;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
font-size: 3rem;
line-height: 3.5rem;
letter-spacing: -0.02em;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 2rem 0rem;
}

div.gallery img,div.gallery1 img,div.gallery2 img {
  border-radius: 0.75rem 0.75rem 0 0;
}


div.gallery {
position: absolute;
top: 7.438;
width: 25.25rem;
height: 28.75rem;
background: rgba(0, 0, 0, 0.27) ;
border-radius: 0.75rem;
}

div.gallery1 {
position: absolute;
width: 25.25rem;
height: 28.75rem;
left: 27.5rem;
top: 7.438rem;
background: rgba(0, 0, 0, 0.27);
border-radius: 0.75rem;
}

div.gallery2 {
position: absolute;
width: 25.25rem;
height: 28.75rem;
left: 54.375rem;
top: 7.438rem;
background: rgba(0, 0, 0, 0.27);
border-radius: 0.75rem;
}

.one
{
position: static;
font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 2.375rem;
letter-spacing: -0.02em;
color: #E5E5E5;
flex: none;
order: 0;
flex-grow: 0;
margin: 1rem 0.938rem;
}

.two
{
position: static;
width: 8.5rem;
height: 1.313rem;
left: 0rem;
top: 0rem;
font-family: Work Sans;
font-style: normal;
font-weight:600;
font-size: 1.125rem;
line-height: 1.313rem;
letter-spacing: -0.02em;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0.462rem 0.938rem;
}

.three{
position: static;
width: 10.125rem;
height: 1rem;
top: 1.774rem;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 0.875rem;
line-height: 1rem;
letter-spacing: -0.02em;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin: 0.462rem 0.938rem;
}

.four
{
position: static;
width: 7.125rem;
height: 0.875rem;
left: 0px;
top: 0px;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
font-size: 0.75rem;
line-height: 0.875rem;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.52);
margin: 0.462rem 0.938rem;
}

.five{
position: static;
width: 5.625rem;
height: 0.875rem;
left: 0rem;
top: 1.125rem;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
font-size: 0.75rem;
line-height: 0.875rem;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.52);
margin: 0.462rem 0.938rem;
}

.button{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem 0.625rem;
  position: absolute;
  width: 7.063rem;
  height: 2.313rem;
  left: 1.5rem;
  top: 12.063rem;
  background: #7F5CFF;
  border-color:#7F5CFF;
  border-radius: 0.281rem;
  font-family: Work Sans;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF; 
  font-style: normal;
  line-height: 1.313rem;
  font-weight: 600;
  font-size: 1.125rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0rem 0.625rem;
}
