.carousel-container {
  margin: 20px 0;
  max-width: 1100px;
  width: 93%;
}

.carousel-container .slick-slider {
  margin: 20px 0;
  /* border: 2px solid white; */
}

.carousel-container .slick-track {
  display: flex;
  align-items: stretch;
}

.carousel-container .slick-slide {
  display: flex !important;
  align-self: stretch;
  width: 100%;
  height: unset;
}

.carousel-container .slick-slide > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-container .slick-slide > div > div {
  width: 90%;
  height: 100%;
}

/* 
customizing thumbs
*/
.carousel-container .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10px);
}

.carousel-container .slick-dots ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 20px;
}

.carousel-container .slick-dots ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
}

.carousel-container .slick-dots ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7f5cff !important;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 0;
  max-height: 8px;
  width: 8px;
  padding: 2px;
}

.carousel-container .slick-dots ul li button::before {
  content: "";
  width: 0;
  height: 0;
}

.carousel-container .slick-dots ul .slick-active button {
  width: 45px !important;
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .carousel-container .slick-slide > div > div {
    width: 100%;
    height: 100%;
  }
  .carousel-container .slick-slide {
    margin: 0 25px;
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-container .slick-slide {
    margin: 0 10px;
    width: 80%;
  }
  .carousel-container .slick-slide > div > div {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .carousel-container {
    margin: 1rem;
    padding: 0 20px;
  }
  .carousel-container .slick-slide > div > div {
    width: 250px;
    height: 280px;
  }
}

@media screen and (min-width: 1600px) {
  .carousel-container {
    margin: 20px 0;
    max-width: 80%;
    width: 93%;
    /* margin-left: 15px; */
  }
  .carousel-container .slick-slide > div > div {
    width: 100%;
    height: 100%;
  }
}
