@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.competition-fun-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #e5e5e5;
}

.competition-fun-section .header h1{
  font-weight: 600;
  letter-spacing: -0.02em;
}

@media screen and (min-width:1600px) {
  .competition-fun-section .header h1{
    font-size: 3rem;
}
}