*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.event-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.27);
    min-width: 400px;
    cursor: grab;
}

.event-card .heading{
    margin: 1rem 0;
}

.event-card .para{
     margin: 1rem 0;
}

.event-card .button-deadline{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 1rem 0;
}

@media screen and (max-width:480px) {
    .event-card{
        min-width: 330px;
        padding: 0.5rem;
    }
}