 .footer{
  background-color: #5A135F;
  width: 100%;
  max-height: 9rem;;
  position: absolute;
  overflow: hidden;
  bottom: 0;

   
  }
  .query{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: bold;
  }
  h6{
    color: darkgray;
    font-size: .7rem;
  }
  .btn{
    height: 1.3rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box1{
    height: 1rem;
    width: 1rem;
    background-color: white;
   
    margin: .4rem;
  
    
  }*/

  body{
    padding: 0;
    margin: 0;

  }
   