.Footer {
  background-color: #300957;
  height: 65vh;
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.query {
  margin-left: 10rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.media_icons {
  width: 35%;
}
.spon {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  margin-top: 2.8rem;
  margin-bottom: 0.8rem;
}
.for {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
}
.light_whitetext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(177, 177, 177);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.box1 {
  height: 50%;
  width: 40%;
}
.Box {
  display: flex;
  justify-content: space-around;
}
.media_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .Footer {
    align-items: justify;
    flex-direction: column;
  }
  .query {
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
    height: 60%;
  }
  .box1 {
    width: 100%;
    flex-direction: column;
    margin-left: 5rem;
    height: 40%;
  }
  .box2 {
    margin-top: -2rem;
  }
  .sponsors {
    margin-top: -2rem;
    margin-bottom: 10rem;
  }
  .for {
    font-size: 1.2rem;
  }
  .light_whitetext {
    font-size: 0.8rem;
  }
  .spon {
    font-size: 1.3rem;
  }
  .media_icons {
    width: 70%;
  }
  .icons_logo {
    transform: scale(0.6);
  }
  .icons {
    transform: scale(0.6);
    margin-left: -1rem;
  }
}
@media screen and (max-width: 300px) {
  .query {
    margin-left: 2rem;
  }
  .box1 {
    margin-left: 2rem;
  }
  .for {
    font-size: 0.8rem;
  }
  .light_whitetext {
    font-size: 0.7rem;
  }
  .spon {
    font-size: 0.8rem;
  }
  .media_icons {
    width: 85%;
  }
  .icons_logo {
    transform: scale(0.5);
  }
  .icons {
    transform: scale(0.5);
    margin-left: -1rem;
  }
}
