* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #300957;
  width: 100%;
  bottom: 0;
  padding: 1rem 2rem;
  letter-spacing: -0.02em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.query-follow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
}

.follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container a {
  text-decoration: none;
}

.query-follow .query svg {
  height: 10px;
  margin-left: -4px;
  margin-bottom: -1px;
}

.query-follow > div {
  margin: 20px 0;
}

.footer-container .footer h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #ffffff;
}

.footer-container .footer p {
  margin: 4px 0;
  line-height: 2rem;
  color: rgba(229, 229, 229, 0.54);
}

.query-follow .follow .icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.query-follow .follow .icons svg {
  height: 24px;
  width: 24px;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
}

.sponsors > div {
  margin: 20px 0;
}

.sponsors .square {
  display: flex;
  padding: 3px;
}

.sponsors .square > svg {
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    padding: 1.5rem;
  }
  .footer {
    width: 100%;
  }
  .query-follow {
    width: 100%;
  }
  .sponsors {
    width: 70%;
  }
}
