* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #300957;
  width: 100%;
  bottom: 0;
  padding: 2rem 2rem;
  letter-spacing: -0.02em;
}

.sponsors2 a{
  max-width: 80px;
}

.query-follow a{
  max-width: 180px;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 90%;
}

.query-follow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
}

.follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container a {
  display: flex;
  text-decoration: none;
}

.query-follow .query svg {
  height: 10px;
  margin-left: -4px;
  margin-bottom: -1px;
}

.query-follow > div {
  margin: 20px 0;
}

.footer-container .footer h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #ffffff;
}

.footer-container .query-follow h2 {
  line-height: 2.3rem;
}

.footer-container .footer p {
  margin: 5px 0;
  line-height: 2rem;
  color: rgba(229, 229, 229, 0.54);
}

.query-follow .follow .icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.query-follow .follow .icons svg {
  height: 24px;
  width: 24px;
}

.sponsors1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 40%;
}

.sponsors2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
}

.sponsors1 > div,
.sponsors2 > div {
  margin: 20px 0;
}

.sponsors1 .square {
  display: flex;
}

.sponsors1 .square img,
.sponsors2 .square img {
  width: 80px;
  height: 80px;
  margin-right: 1.5rem;
  border-radius: 8px;
  background: #ffffff;
}
@media screen and (max-width: 1250px) {
  .footer {
    width: 100%;
  }
  .query-follow {
    width: 30%;
  }
  .sponsors2 {
    width: 30%;
  }
  .sponsors1 {
    width: 35%;
    margin-right: 2rem;
  }
  .sponsors1 .square img,
  .sponsors2 .square img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 840px) {
  .sponsors1 {
    margin-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    width: 100%;
    flex-direction: column;
  }
  .sponsors1 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .sponsors2 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 650px) {
  .footer-container {
    padding: 1.5rem;
  }
  .footer {
    width: 100%;
  }
  .query-follow {
    width: 100%;
  }
  .sponsors1 {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .sponsors2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .sponsors1 .square img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}
