*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  margin-top: 3rem;
  margin-bottom: 4rem;
  color: #e5e5e5;
}

.container .header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
  position: relative;
  color: #ffffff;
}

.container .header h1{
    font-weight: 600;
    letter-spacing: -0.02em;
}

.container .header .view {
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-items: center;
  position: absolute;
  right: 1.625rem;
  transform: translate(0, -50%);
  font-weight: 600;
}

.view span, .view a{
  color: #e5e5e5;
  font-weight: lighter;
}

.container .header .view img {
  height: 0.75rem;
}

@media screen and (max-width:1100px) {
   .container .header{
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
   .container .header{
    width: 100%;
  }
  .container .header h1{
    font-size: 1.6rem;
  }
  
  .container .header .view img {
    height: 10px;
}
}

@media screen and (max-width:450px) {
  .container .header .view {
    width: 60px;
    font-size: 11px;
  }
   .container .header .view img {
    height: 9px;
}
  .container .header .view{
    right: 13px;
    margin-top: 2px;
    width: 56px;
  }
}

@media screen and (min-width:1600px) {
  .container .header h1{
    font-size: 3rem;
  }
}