.from-carousel-container {
  margin: 20px 0;
  width: 80%;
}

/* .from-carousel-container .slick-slider {
  border: 2px solid white;
} */

.from-carousel-container .slick-track {
  display: flex;
  align-items: stretch;
}

.from-carousel-container .slick-slide {
  display: flex;
  align-self: stretch;
  width: 100%;
  height: 100%;
}

.from-carousel-container .slick-slide > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.from-carousel-container .slick-slide > div > div {
  width: 1215.35px;
  height: 100%;
}

/* 
customizing thumbs
*/
.from-carousel-container .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10px);
}

.from-carousel-container .slick-dots ul {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 20px;
}

.from-carousel-container .slick-dots ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
}

.from-carousel-container .slick-dots ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7f5cff !important;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 0;
  max-height: 8px;
  width: 8px;
  min-width: 8px;
  padding: 2px;
}

.from-carousel-container .slick-dots ul li button::before {
  content: "";
  width: 0;
  height: 0;
}

.from-carousel-container .slick-dots ul .slick-active button {
  width: 42px !important;
  border-radius: 10px;
}

/* 
custom arrows
*/
.from-carousel-container .slick-arrow::before,
.from-carousel-container .slick-arrow::after {
  content: none;
}

.from-carousel-container .slick-arrow {
  transform: scale(1);
  transition: all 0.4s ease;
}

.from-carousel-container .slick-prev {
  transform: translateX(-4px) scale(1.1);
}

.from-carousel-container .slick-next {
  transform: translateX(4px) scale(1.1);
}

.slick-disabled path {
  fill-opacity: 0.2;
}



.slick-disabled path:hover {
  transform: none;
}

@media screen and (min-width: 600px) {
  .from-carousel-container .slick-prev {
    transform: translateX(-20px) scale(1.5);
  }

  .from-carousel-container .slick-next {
    transform: translateX(20px) scale(1.5);
  }
}

@media screen and (max-width: 600px) {
  .from-carousel-container .slick-slide > div > div {
    min-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 1580px) {
  .from-carousel-container .slick-slide {
    width: 100%;
  }
  .from-carousel-container .slick-slide > div > div {
    width: 2800px;
  }
  .from-carousel-container .slick-prev {
    transform: translateX(-40px) scale(2);
  }

  .from-carousel-container .slick-next {
    transform: translateX(40px) scale(2);
  }

  /* thumb*/
  .from-carousel-container .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20px);
}
  .from-carousel-container .slick-dots ul {
    width: 250px;
  }
  .from-carousel-container .slick-dots ul li button {
    max-height: 12px;
    width: 12px;
    padding: 2px;
  }
 .from-carousel-container .slick-dots ul .slick-active button {
  min-width: 70px !important;
}
}
