.events-container{
    position: absolute;
    width: 100%;
    background: linear-gradient(307.47deg, #45108A 9.23%, #3D065F 66.85%, #200554 112.51%) no-repeat;
    min-height: 100vh;
}

.events-timeline{
    margin: 4rem 0;
}

@media screen and (max-width:850px) {
    .events-timeline{
        display: none;
    }
}